
   

   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/misc/logo.jpg"  width="80" height="80" class="d-inline-block align-top img-fluid rounded-circle" alt="plate with food"/>
      Recipe App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   -->
    <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav"> -->
            <!-- Router Link -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/">Home</a>
            </li> -->
            <!-- Router Link -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/recipes">Recipes</a>
            </li> -->
            <!-- Router Link -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/mealplan">Meal Plan</a>
            </li> -->
            <!-- Router Link -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/favorites">Favorites</a>
            </li>
          </ul>
    </div> -->
<!--      
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <div class="user-profile">
        <img src="../../assets/misc/Caveman.JPG" width="50" height="50" class="img-thumbnail" alt="User Profile">
        <span>Johnny</span>
      </div> -->

      <!-- Search Bar
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </form> -->
    <!-- </div> -->
  <!-- </nav> -->
<!--   
  <nav>
    <a class="navbar-brand" routerLink = "/">
      <img src="" alt="">
    </a>

    <div class="navbar-div-list">
        
              <a class="nav-link" routerLink="/">Home</a>
        
          
              <a class="nav-link" routerLink="/recipes">Recipes</a>
          
           
              <a class="nav-link" routerLink="/mealplan">Meal Plan</a>
         
           
              <a class="nav-link" routerLink="/favorites">Favorites</a>
          
    </div>
  </nav> -->

  <nav class="shift">
    <a class="navbar-brand" routerLink = "/">
      <img id="image-brand-logo" src="../../assets/Screenshot 2023-08-29 164732.png" alt="">
    </a>

    <ul class="nav-ul-list">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/recipes">Recipes</a></li>
      <li><a routerLink="/mealplan">Meal Plan</a></li>
      <li><a routerLink="/favorites">Favorites</a></li>
    </ul>
  </nav>


  <!-- Did the header component and changed it -->