<div class="recipe-detail" *ngIf="recipe">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ recipe.strMealThumb }}" alt="{{ recipe.strMeal }}" class="rounded mx-auto d-block recipe-image">
    </div>
    <div class="col-md-8">
      <div class="recipe-info">
        <div class="recipe-description">
          <h2>Dish: {{ recipe.strMeal }}</h2>
          <p><strong>Category:</strong> {{ recipe.strCategory }}</p>
          <p><strong>Area:</strong> {{ recipe.strArea }}</p>
          <h3>Ingredients:</h3>
          <ul>
            <li *ngFor="let ingredient of getIngredients(recipe)"> {{ ingredient }}</li>
          </ul>
          <p><strong>Instructions:</strong> {{ recipe.strInstructions }}</p>
        </div>
      </div>
      <button class="btn btn-primary" (click)="navigateToRecipes()">Back to Recipes</button>
    </div>
  </div>
</div>
